@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row shadow-lg rounded-4 p-4 bg-white" style="max-width: 900px; width: 100%;">
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center bg-primary text-white rounded-4 p-4">
            <h2 class="fw-bold">Welcome Back!</h2>
            <p class="text-center">Log in to access your account.</p>
        </div>
        <div class="col-md-7">
            <section>
                <h3 class="text-center mb-3 fw-bold">Sign In</h3>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Email" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe" class="form-check-label">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    <div class="row text-center mt-3 d-flex align-items-center">
                        <div class="col-12 col-md-6 py-2">
                            <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none">Forgot your password?</a>
                        </div>
                        <div class="col-12 col-md-6 py-2">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none">Register as a new user</a>
                        </div>
                    </div>


                   
                </form> 
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
